@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #fff;
  --primary-color-dark: #EDEBE6;
  --acciones-color: #104367;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--acciones-color);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .imglogo{
  width: 3rem;
  border-radius: 50px;
  margin-right: 1em;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: auto;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--primary-color-dark);
  border-bottom-color: var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.section {
  background-color: white;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}


.portfolio {
  color: var(--acciones-color);
  padding: 15px 30px;
  border: 2px solid var(--acciones-color);
  border-radius: 10px;
  transition: 0.2s;
}

.portfolio:hover {
  background-color: var(--acciones-color);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}



.section__container_sobre {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  margin-top: 1rem;
  padding: 8rem;
}
#mapa{
  outline: 2px solid black;
  width: 80%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#mapa iframe{
  width: 100%;
  height: 100%;
}




.content1{
  display: flex;
  flex-direction: column;
  justify-content: top;
}





.programing{
  width: 100%;
  height: auto; 
}
h1 {
  font-size: 60px;
  font-weight: normal;
}
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	display: flex;
	flex-direction: column;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: auto; /* Pushes the following content to the bottom */
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
  width: 100px; /* Añadido */
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}



#video{
  width: 80%;
  height: 400px;
  margin-bottom: 30px;
}
#video iframe{
  width: 100%;
  height: 100%;
}
h2{
  margin-bottom: 20px;
}
.lista{
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  list-style-type: disc;
}
.pie-pagina{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.pie-pagina a{
  text-decoration: none;
  color: black;
}


.code-block{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  max-width: 800px;
  height: 200px;
  resize: none;
}

/* Hardware */
.section_H{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.texto_H{
  width: 76%;
}
.contenedor_G{
    color: #fff;
}
.wrapper{
    width: 90%;
    margin-left: 5%;
    padding: 10px 7%;
}
#card-area{
    padding: 1px 0;
    padding-bottom: 10px;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 15px;
}
.box {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 3px 3px 13px rgba(0,0,0,0.9);
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#1c1c1c 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.overlay h3 {
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 80%;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
}
.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 140%;
}

/*Fin de hardware*/

/*Inicio de software*/
.section_S{
  margin-top: 15vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.primer_gradiente{
  background: linear-gradient(0deg, rgba(51,184,171,1) 32%, rgba(132,255,223,1) 90%);
}
.segundo_gradiente{
  background: linear-gradient(0deg, rgba(123,66,255,1) 32%, rgba(167,130,255,1) 90%);
}
.tercer_gradiente{
  background: linear-gradient(0deg, rgba(36,163,151,1) 40%, rgba(45,209,167,1) 73%);
}
.cuarto_gradiente{
  background: linear-gradient(0deg, rgba(227,200,85,1) 40%, rgba(236,217,138,1) 73%);
}
.contenedor_GS{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

}
.contenedor_S{
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.tarjeta_S{
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 1.5rem;
  overflow: hidden;
  width: 36rem;
  height: auto;
  transition: 0.5s;
}
.tarjeta_S:hover{
  transform: scale(1.1);
}
.tarjeta_S h5{
  opacity: 0.8;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
.tarjeta_S h4{
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin: 1rem 0;
}
.columna1{
  color: white;
  padding: 2rem;
  max-width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.columna1 h2{
  color: white;
}
.columna-derecha{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.columna-derecha p{
  font-size: .9rem;
}
.button1{
  margin-top: 10px;
  border-radius: 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.2rem;
  padding: .7rem 1.5rem;
  letter-spacing: .1rem;
  align-self: flex-end;
  border: none;
}
/*Fin de software*/


.img_sentencias{
  width: 80%;
  height: auto; 
  margin-bottom: 20px;
}

@media(max-width: 1200px){
  .contenedor_S{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .columna1{
    color: white;
    padding: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .tarjeta_S{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
   overflow: hidden;
    width: auto;
    height: auto;
    transition: 0.5s;
  }
}

.contenedor_info{
  background-color: #104367;
  display: flex;
  justify-content: center;
}
.contenedor_code{
  width: 80%;
  background-color: #2fb4cc;
}

@media (width < 784px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
    color: black;
  }

  .section__container {
    margin-top: 10vh;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
  h1 {
    font-size: 40px; /* Tamaño más pequeño para dispositivos móviles */
}
  .container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
  #video{
    height: 200px;
  }
  .section__container_sobre {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 15vh;
  }
  #video{
    width: 100%;
    margin-bottom: 30px;
  }
}